/*
    Hero Section CSS Style
*/

#hero {
    border-top: 0.125rem solid #e4e4e4;
    height: 90vh;
    display: flex;

    img {
        opacity: 0.3;
        z-index: -1;
    }

    p {
        color: var(--second-text-color);
    }

    .container-content {
        width: 100%;
    
        display: flex;
        flex-direction: column;
        align-self: center;
    
        text-align: center;
        align-content: center;
    
        gap: 2rem;
    }
}

#hero > img {
    position: absolute;
    right: 0;
    height: 60%;
    padding-left: 30%;
}

@media (width >= 1280px) {
    #hero {
        border-top: none;

        > span {
            position: absolute;
            top: 0;
        }
        
        > img {
            top: 0;
            height: 82%;
            padding-left: 55%;
        }

        .content p {
            width: 80%;
            align-self: center;
        }
        
        .content {
            gap: 2.5rem;
        }
        
        .content > div :first-child {
            width: 10.625rem;
        }
        
    }
}

#hero .flex.gap-1 {
    justify-content: center;
}

/*
    Primary Card CSS Style
*/

#card-section {
    text-align: center;

    align-items: center;

    justify-content: center;

    padding: 5rem 0rem 5rem 0rem;
}

.card-primary-text {
    h1 {
        color: var(--text-color);
    }

    h2 {
        color: var(--primary-color);
    }
}

.card-row {
    min-width: 100%;
    width: 100dvh;
    height: auto;

    align-items: center;

    padding: 5rem 0rem 5rem 0rem;

    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 2rem;

    h2 {
        color: var(--text-color);
    }

    @media (width >= 800px) {
        .t-1 {
            scale: 0.9;
        }
    }

    @media (width <= 800px) {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
        align-content: center;

        gap: 2rem;
    }
}

/*
    Pricing Section CSS Style
*/

#pricing-section {
    text-align: center;

    align-items: center;

    justify-content: center;

    padding: 5rem 0rem 5rem 0rem;

    background-color: var(--tertiary-color);

    .pricing-text {
        color: white;
    }

    @media (width >= 800px) {
 
        .t-1 {
            scale: 0.8;

            .btn-primary {
                background: var(--second-text-color);
                color: var(--light-text-color);
            }

            #pricing-card {

                background-color: #eeeeee;

                .top-content {
                    color: var(--second-text-color);

                    background-color: #cecece;
                }

                h1, h2, h3, p {
                    color: var(--second-text-color);
                }
            }
        }
    
        .t-1:hover {
            scale: 1;
            animation: backwards;
            opacity: 1;

            transition: 200ms;

            .btn-primary {
                background: var(--primary-color);
                color: var(--light-text-color);
            }

            #pricing-card {

                background-color: white;

                .top-content {
                    color: white;

                    background-color: var(--tertiary-color);
                }

                h1 {
                    color: var(--tertiary-color);
                }

                .card-price {
                    color: var(--primary-color);
                }
            }
        }
    
        .t-2:hover {
            scale: 1.2;
            animation: backwards;
            opacity: 1;

            transition: 200ms;

            h1 {
                color: var(--tertiary-color);
            }
        }
    }
}

.pricing-row {
    min-width: 100%;
    width: 100dvh;
    height: auto;

    padding: 5rem 0rem 5rem 0rem;

    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;

    gap: 2rem;

    @media (width <= 800px) {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
        align-content: center;

        gap: 2rem;
    }
}

/*
    Feedback Section CSS Style
*/

#feedback-section {
    text-align: center;

    align-items: center;

    justify-content: center;

    padding: 5rem 0rem 5rem 0rem;

    background-color: var(--tertiary-color);
}

.feedback-text {
    color: white;
}

.feedback-row {
    width: 80%;

    position: relative;

    padding: 4rem;

    justify-self: center;

    display: grid;
    place-items: center;

    overflow: hidden;

    gap: 2rem;

    @media (width <= 800px) {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
        align-content: center;

        gap: 2rem;

        padding: 2rem;
    }
}

.feedback-slide-track {
    gap: 2rem;

    display: flex;
    width: calc(25rem * 6);

    animation: scroll 30s linear infinite;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-25rem * 3));
	}
}

.feedback-slide-track:hover {
    animation-play-state: paused;
}

#email-section {
    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;

    justify-content: space-between;

    padding: 5rem 0rem 5rem 0rem;

    gap: 2rem;

    .email-input {
        display: flex;
        flex-direction: column;

        align-content: center;

        width: 80%;
        min-width: 150px;

        padding: 2rem;

        gap: 2rem;
    }

    input {
        
        background-color: rgb(255, 255, 255);
        border-color: rgb(206, 207, 212);
        color: rgb(9, 30, 66);

        cursor: text;

        border-radius: 0.6rem;
        border-width: 1px;
        border-style: solid;
        box-sizing: border-box;
        
        font-size: 14px;
        transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
        line-height: 1.42857;

        height: 3.6rem;

        :hover{
            background-color: rgb(235, 236, 240);
        }
        :focus{
            background-color: rgb(255, 255, 255);
            border-color: rgb(76, 154, 255);
        }
    }

    h1 {
        font-size: 40px;
        letter-spacing: normal;
    }

    h2 {
        font-size: 20px;
    }

    .btn-primary {
        font-size: 16px;
        
        width: 50%;
        min-width: 150px;

        align-self: center;
    }
}

input::placeholder {
    padding: 1rem;
}